body {
  border: 2px solid #333;
  background-color: #1e1e1e;
  color: #fff;
  text-align: center;
  font-family: sans-serif;
  font-weight: 300;
  margin: 6;
}

.heading-div {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 10px 20px;
  margin: 8px 8px 0 8px;
  background-color: #1d9bf0;
  box-shadow: 0 0 0 8px #1d9bf0;
}

p {
  font-size: 0.9rem;
}

div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-div {
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;
  background-color: #1e1e1e;
  border-top: none;
  box-shadow: none;
}

.checkbox-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.heading-div h1 {
  font-size: 2em;
  color: #fff;
}

.heading-div h2 {
  font-size: 1.2em;
}

.hidden {
  display: none;
}

#save-detected {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

#reset-detected {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
